@font-face {
    font-family: "ms sans serif";
    src: url(/src/fonts/ms-sans-serif.ttf) format("truetype");
}

body {
    /* background: url("./images/bit1.png"); */
    /*background: url("./images/scarlet.png") no-repeat, url("./images/bg-1.png") no-repeat;  */ 
    background-color: #069420;
    color: white;
    /* overflow-wrap: anywhere; */
    /* box-sizing: border-box; */
    /* overflow: visible; */
  }